<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>

    <!-- Main content -->
    {% extends "home/layout.html" %}
    
    {% block body %}
    <br>
    <h3 class="display-6">My eBuy</h3>
    <br>

    <!-- User navigation bar -->
    <nav class="navbar border-bottom">
      <ul class="navbar-nav d-flex flex-row">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'account:activity' %}">Activity</a>
        </li>
        <li class="nav-item ml-5 mr-5">
          <a class="nav-link active" href="{% url 'account:listings' %}">Listings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'account:info' %}">Account</a>
        </li>
      </ul>
    </nav>

    <!-- Create Listing -->
    <br>
    <h3>Create Listing</h3>
    <br>
    <div class="row d-flex justify-content-center">
      {% if form.errors %}
          <div class="alert alert-primary" role="alert">
              {{form.errors}}
          </div>
      {% endif %}

      <form action="{% url 'account:listings' %}" enctype="multipart/form-data" method="post" style="width:500px">
          {% csrf_token %}
          {% for field in form %}
              <div class="form-group">
                  {{field}}
              </div>
          {% endfor %}
          <div class="text-center">
              <input type="submit" class="btn btn-primary" value="Create listing">
          </div>
          <br>
      </form>

      <!-- User Listing -->
      <br>
      <h3>Your Listing</h3>
      <br>
      <br>
      <div class = "row d-flex justify-content-center">
        {% for product in user.products.all %}
        <div class="card col-lg-3 m-2" >
          <img class="card-img-top" src="{{product.imageURL}}" alt="Card image cap" style="height:200px; object-fit:contain">
          <div class="card-body">
            <h5 class="card-title">${{product.price}}</h5>
            <p class="card-text"><strong>{{product.name}}</strong></p>
            <p class="card-text"><small>Distributed by: {{product.user.first_name}} {{product.user.last_name}}</small></p>
            <a href="{% url 'account:remove_product' id=product.id %}" class="btn btn-danger">Remove from cart</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
    {% endblock %}
  </body>
</html>